* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main-header {
    width: 100%;
    
}
.main-header .navigation1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.main-header .navigation1 .logo {
    display: flex;
    justify-content: space-around;
    
}
.main-header .navigation1 .logo a {
    display: block;
    font-size: 35px;
    text-decoration: none;
    mar
}